li.personal-item{
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}


li.personal-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.personal-item header div.img-personal {
    background-image: url("upload/user_default.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.personal-item header .user-info {
    margin-left: 10px;
}

.user-info strong {
    display: block;
    font-size: 10px;
    color: #333;
}

.user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

li.personal-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.personal-item a {
    color: #FF6B00;
    font-size: 14px;
    text-decoration: none;
}

li.personal-item a:hover {
    color: #FF6B00;
}